.plansContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1.8rem;
}

.yearMonthToggle {
  width: 100%;
  background-color: #f8f9fe;
  border-radius: 0.5rem;
  padding: 1.4rem 0;
  display: flex;
  margin-top: 3.3rem;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  margin-bottom: 4rem;
}

.yearMonthToggleText {
  color: hsl(231, 11%, 63%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  transition: color 360ms;
}

.yearMonthToggleLabel {
  background-color: hsl(213, 96%, 18%);
  display: inline-block;
  height: 2rem;
  width: 3.8rem;
  border-radius: 5rem;
  position: relative;
}

.yearMonthToggleSpan {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 5rem;
  background-color: #fff;
  top: 0.4rem;
  left: 2.2rem;
  position: absolute;
  transition: left 360ms;
}
.yearMonthToggleinput {
  display: none;
}

.isMonthlyActive {
  color: hsl(213, 96%, 18%);
}
.isYearlyActive {
  color: hsl(213, 96%, 18%);
}
.toggleActive {
  left: 0.4rem;
}
