.homepage {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 27.4rem 1fr;
  padding: 1.6rem;
  height: 60rem;
  width: 94rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.4rem;
  box-shadow: 0px 20px 40px 10px rgba(0, 0, 0, 0.06);
}

.mainForm {
  padding-left: 10rem;
  padding-right: 8.4rem;
  padding-bottom: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
