.addOnLabel {
  display: flex;
  align-items: center;
  padding: 2rem 2.3rem;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: border-color 360ms, background 360ms;
}
.addOnLabelActive {
  border-color: hsl(213, 96%, 18%);
  background-color: hsl(230, 75%, 98%);
}
.addOnLabel:hover {
  border-color: hsl(213, 96%, 18%);
}
.addOnCheckbox {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border: 1px solid hsl(231, 11%, 63%);
  margin-right: 2.4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 360ms, background 360ms, opacity 260ms;
}
.addOnCheckboxActive {
  background-color: hsl(243, 100%, 62%);
  border-color: hsl(243, 100%, 62%);
}
.addOnImage {
  opacity: 0;
}
.addOnCheckboxActive .addOnImage {
  opacity: 1;
}
.addOnInput {
  display: none;
}
.addOnTitle {
  color: hsl(213, 96%, 18%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* letter-spacing: 0.016rem; */
  margin-bottom: 0.6rem;
}
.addOnTitle::first-letter {
  text-transform: capitalize;
}
.addOntext {
  color: hsl(231, 11%, 63%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.addOntext::first-letter {
  text-transform: capitalize;
}
.addOnPrice {
  color: hsl(243, 100%, 62%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
}
