.planCard {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.8rem;
  /* width: 13.6rem; */
  width: 13.8rem;

  transition: background 360ms, border-color 360ms;
}
.planCard:hover {
  border: 1px solid #524e98;
  cursor: pointer;
}
.planCardCheckbox {
  display: none;
}
.planCardLabel {
  padding: 1.9rem 0 1.1rem 1.5rem;
  display: inline-block;
  width: 100%;
}
.planCardIcon {
  margin-bottom: 4rem;
}
.planCardTitle {
  color: hsl(213, 96%, 18%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}
.planCardPrice {
  color: hsl(231, 11%, 63%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.6rem;
}
.planCardFree {
  color: hsl(213, 96%, 18%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

:global(.planCardActive) {
  border: 1px solid #524e98;
  background-color: hsl(217, 100%, 97%);
}

@media screen and (max-width: 600px) {
  .planCard {
    width: 100%;
  }
  .planCardLabel {
    padding: 1.9rem 0 1.1rem 1.5rem;
    display: flex;
  }
  .planCardIcon {
    margin-bottom: 0;
    margin-right: 1.4rem;
  }
}
