* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.heading {
  font-family: 'Ubuntu', sans-serif;
  text-transform: initial;
  margin-top: 4rem;
}

.text {
  font-family: 'Ubuntu', sans-serif;
  text-transform: initial;
}

.headingPrimary {
  color: #022954;

  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.064rem;
  margin-bottom: 1.2rem;
}
.headingText {
  color: hsl(231, 11%, 63%);
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4rem;
}

.btn--container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

a {
  text-decoration: none;
}

#root {
  background-color: hsl(215, 100%, 97%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
